@page
@model IndexModel
@{
    ViewData["Title"] = "Invio dati telimetria";
}

<form method="post">

    <div class="form-group">
        <label asp-for="message"></label>
        <input class="form-control" asp-for="message" />
        <span class="text-danger" asp-validation-for="message"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="deviceName">Seleziona il dispositivo</label>
        <select asp-for="deviceName">
            <option value="IIOT_Device">IIOT_Device</option>
            <option value="IIOT_Device_2">IIOT_Device_2</option>
            <option value="IIOT_Device_3">IIOT_Device_3</option>
            <option value="IIOT_Device_4">IIOT_Device_4</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Invia</button>
</form>
